<form method="POST" id='paymentForm' action="https://www.2checkout.com/checkout/spurchase">
  <% if payment_method.preferred(:test_mode) %>
  <%= hidden_field_tag :demo, "Y" %>
  <% end %>

  <%= hidden_field_tag :mode, '2CO' %>
  <%= hidden_field_tag :sid, payment_method.preferred(:sid) %>
  <%= hidden_field_tag :merchant_order_id, @order.number %>

  <%= hidden_field_tag :first_name, @order.try(:bill_address).try(:firstname) %>
  <%= hidden_field_tag :last_name, @order.try(:bill_address).try(:lastname) %>
  <%= hidden_field_tag :phone, @order.try(:bill_address).try(:phone) %>
  <%= hidden_field_tag :email, @order.email %>
  <%= hidden_field_tag :street_address, @order.try(:bill_address).try(:address1) %>
  <%= hidden_field_tag :street_address2, @order.try(:bill_address).try(:address2) %>
  <%= hidden_field_tag :city, @order.try(:bill_address).try(:city) %>
  <% if @order.try(:bill_address).try(:country).try(:name) != "United States" && @order.try(:bill_address).try(:country).try(:name) != "Canada" %>
  <%= hidden_field_tag :state, "XX" %>
  <% else %>
  <%= hidden_field_tag :state, @order.try(:bill_address).try(:state) %>
  <% end %>
  <%= hidden_field_tag :country, @order.try(:bill_address).try(:country).try(:name) %>
  <%= hidden_field_tag :zip, @order.try(:bill_address).try(:zipcode) %>

  <% if defined?(@order.ship_address.address1) %>
  <%= hidden_field_tag :ship_name, @order.ship_address.firstname + " " + @order.ship_address.lastname %>
  <%= hidden_field_tag :ship_street_address, @order.ship_address.address1 %>
  <%= hidden_field_tag :ship_street_address2, @order.ship_address.address2 %>
  <%= hidden_field_tag :ship_city, @order.ship_address.city %>
  <%= hidden_field_tag :ship_state, @order.ship_address.state %>
  <%= hidden_field_tag :ship_zip, @order.ship_address.zipcode %>
  <%= hidden_field_tag :ship_country, @order.ship_address.country.name %>
  <% end %>

  <% i = 0 %>
  <% @order.line_items.each do |line_item| -%>
  <%= hidden_field_tag "li_#{i}_type", 'product' %>
  <%= hidden_field_tag "li_#{i}_name", line_item.variant.product.name %>
  <%= hidden_field_tag "li_#{i}_quantity", line_item.quantity %>
  <%= hidden_field_tag "li_#{i}_price", '%.2f' % line_item.price %>
  <% i += 1 %>
  <% end %>

<p>You are being redirected to 2Checkout- please wait</p>
<p>If you do not get redirected, please press the button below to submit your payment.</p>
<input type="submit" name="send_form" value="Submit">

</form>

 <script type="text/javascript">
     $('#paymentForm').submit();
 </script>
